/* Give your page a fun background color */
body {
    background-color: lightgrey;
}
/* Make the header and footer a different color from the background */
header {
    background-color: lightblue;    
}

footer {
    background-color: black;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p { font-style: italic;
    color: white;
}
/* Put a border around your image */
img {
    border: 5px solid;
}
/* Change the font-family of your list */

li{
    font-family: Helvetica;
    
}